/* Intro section */
.intro, .intro p {
    background-color: #ca8390;
    margin: 20px 20px;
}

.intro p {
    padding: 30px 0;
}


.profilePicture {
    margin: auto;
    border-radius: 50%;
    max-width: 15em;
    padding: 0.3125em;
    border: black 0.1875em solid;
    margin: 5em auto;
}

.portfolio, .portfolio p {
    background-color: #d9a7b0;
    margin: 20px 20px;
}

.portfolio p {
    padding: 30px 0;
    margin: 0 100px;
}

.laptopPhoto {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.imageContainer {
    margin: 20px 20px;
}

.techStack,
.techStack p {
    background-color: #e8cbd0;
    margin: 20px 20px;
}

.techStack p {
    padding: 30px 0;
    margin: 0 100px;
}

#title {
    padding: 10px 0;
}

.techStack img {
    background-color: transparent;
    padding: 20px 20px;
    height: 70px;
}
