* {
    background-color: #fffeef;
}

.profilePicture {
    width: 15em;
    margin: auto;
    border-radius: 50%;
    max-width: 15em;
    padding: 0.3125em;
    border: black 0.1875em solid;
    margin-bottom: 7em;
}

.aboutMeText {
    padding-top: 3em;
}

p {
    width: 75%;
    margin: auto;
    margin-bottom: 3em !important;
}

h1 {
    padding-bottom: 1em;
    padding-top: 1em;
}

.portfolioButton {
    padding-top: 3em;
    transition: transform 0.3s ease !important;
    margin-top: 3em;
}

.portfolioButton:hover {
    transform: scale(1.1) !important;
}

.contactLogo {
    transition: transform 0.3s ease !important;
    margin-bottom: 2em;
}

.contactLogo:hover {
    transform: scale(1.1) !important;
    cursor: pointer; 
}