.techStackContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

.techStack {
    transition: transform 0.3s ease;
}

.techStack:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.logosContainer {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 3em;
    padding: 1.5em;
}