.customNav {
    background-color: transparent;
}

.nameLogo {
    width: 150px;
    transition: transform 0.3s ease;
}

.nameLogo:hover {
    transform: scale(1.1);
}

.navLink {
    position: relative;
    margin: 2em;
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: color 0.3s ease;
}

/* Add underline on hover */
.navLink::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -4px;
    left: 0;
    background-color: #ca8390;
    transition: width 0.3s ease;
}

/* Expand underline on hover */
.navLink:hover::after {
    width: 100%;
}

/* Keep underline on active nav item */
.navLink.active::after {
    width: 100%;
}