.customFooter {
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #c27280;
    padding: 1em;
}

.scrollToTopButton {
    border: 1px solid #fffeef !important;
    color: #fffeef !important;
}

.footer {
    margin-top: 7em !important;
    border: none !important;
}