.customFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    bottom: 0;
    width: 100vw;
}

.scrollToTopButton {
    border: 1px solid #fffeef !important;
    color: #fffeef !important;
}

.footerText {
    color:#fffeef;
    background-color: black;
    margin-right: -25em;
    padding-top: 2em;
}

.footer {
    margin-top: 10em;
    border: none !important;
}